/*  Custom properties */
:root {
  --clr-primary: #F70058;
  --clr-dark: #0C0E36;
  --clr-light: #FFF;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --grid: minmax(1em, 10%) 
          minmax(10rem, 22ch)
          minmax(10rem, 23ch) 
          minmax(1em, 3fr)
          max-content;
}