header {
  background-color: var(--clr-light);
  text-align: center;
}
  
.logo {
  margin-top: 1em;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  /* margin-top: 1em; */
  padding: 1em;
  list-style: none;
  font-size: 0.875rem;
  font-weight: var(--fw-bold);
  text-transform: uppercases;
  letter-spacing: 1px;;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.weather {
  display: grid;
  grid-template-columns: min-content 1fr;
  background: var(--clr-dark);
  color: var(--clr-light);

  &__icon {
    grid-row: span 2;
    background-color: var(--clr-primary);
    padding: .5em;
    display: flex;
  }

  &__info {
    margin: 0;
    margin-left: .75rem;
    text-align: left;
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    font-size: .75rem;
    display: flex;
    align-items: center;

    &:first-of-type {
      margin-top: .5em;
      margin-bottom: .rem;
      position: relative;
    }

    &:first-of-type::after {
      content: '';
      position: absolute;
      background: var(--clr-light);
      opacity: .25;
      height: 2px;
      width: calc(100% - .75rem);
      bottom: 0
    }
    &:last-of-type {
      margin-bottom: .5em;
    }
  }

  &__info span {
    color: var(--clr-light);
    margin-left: auto;
    margin-right: .75rem;
    font-size: 1rem;
    text-transform: none;
  }
}

 