
.main {
  padding: 3em 1em 10rem;


  @mixin tablet {
    display: grid;
    grid-template-columns: var(--grid);
    justify-items: start;
    padding-left: 0;
    padding-right: 0;

    & > * { grid-column: 2 / 4;}

    &--ski {
      background-position: left bottom;
    }
  } /*  tablet */

   @mixin desktop {
    &--ski {
      background-position: center right;
    }
    
 
  } /*  atLarge */

  &--ski {
    background-image: url('../images/bg.jpg');
    background-size: cover;
  }

  &__title {
    line-height: 1;
    font-weight: var(--fw-black);
    font-size: 3rem;
    margin-bottom: .75em;
  }

  &__intro {
    margin-bottom: 4rem;
  }
}  /*  main  */


 


